<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <a href="../../View/Home/index.html"><img src="../../IMG/white-logo.png" alt="Logo escrito Café e Canela em branco"></a>
    </header>
    <main>
        <section class="container-1">
            <h2>Cafés</h2><br>
            <div class="centralizar-grid">
                <div class="grid-container">
                    <div class="grid-item">
                        <img src="../../IMG/Cardapio/Cafe/CAFE 1-PhotoRoom.png-PhotoRoom.png" alt="Cafe espresso">
                        <div class="txt_container">
                            <h2>ESPRESSO</h2>
                            <P>Uma dose de espresso, a base de tudo!</P>
                            <h4>Curto R$ 7</h4>
                            <h4>P R$ 7</h4>
                            <h4>M R$ 10</h4>
                        </div>
                    </div>
                    <div class="grid-item">
                        <img src="../../IMG/Cardapio/Cafe/CAFE 2-PhotoRoom.png-PhotoRoom.png" alt="Cafe espresso com leite">
                        <div class="txt_container">
                            <h2>ESPRESSO COM LEITE</h2>
                            <P>Espresso com leite vaporizado.</P>
                            <h4>P R$ 9</h4>
                            <h4>M R$ 12</h4>
                            <h4>Macchiato P R$9</h4>
                            <h4>Macchiato M R$12</h4>
                        </div>
                    </div>
                    <div class="grid-item">
                        <img src="../../IMG/Cardapio/Cafe/CAFE 3-PhotoRoom.png-PhotoRoom.png" alt="Cappuccino brasileiro">
                        <div class="txt_container">
                            <h2>CAPPUCCINO BRASILEIRO</h2>
                            <P>Com canela, leite e chocolate.</P>
                            <h4>R$ 16</h4>
                            <h2>CAPPUCCINO ITALIANO</h2>
                            <h4>R$15</h4>
                        </div>
                    </div>
                    <div class="grid-item">
                        <img src="../../IMG/Cardapio/Cafe/CAFE 4-PhotoRoom.png-PhotoRoom.png" alt="Cafe Nutella">
                        <div class="txt_container">
                            <h2>CAFÉ NUTELLA</h2>
                            <P>Deliciosa combinação
                                de Nutella com nozes,
                                leite vaporizado e uma
                                dose de espresso.</P>
                            <h4>R$ 19</h4>
                        </div>
                    </div>
                    <div class="grid-item">
                        <img src="../../IMG/Cardapio/Cafe/CAFE 5-PhotoRoom.png-PhotoRoom.png" alt="Cappuccino Avelã">
                        <div class="txt_container">
                            <h2>CAPPUCCINO AVELÃ</h2>
                            <P>Uma dose de espresso, leite vaporizado, xarope de avelã e raspas de chocolate.</P>
                            <h4>R$ 17</h4>
                        </div>
                    </div>
                    <div class="grid-item">
                        <img src="../../IMG/Cardapio/Cafe/CAFE 6-PhotoRoom.png-PhotoRoom.png" alt="Chai Latte">
                        <div class="txt_container">
                            <h2>CHAI LATTE</h2>
                            <P>Leite com especiarias
                                orientais e chá preto.</P>
                            <h4>R$ 18</h4>
                        </div>
                    </div>
                    <div class="grid-item">
                        <img src="../../IMG/Cardapio/Cafe/CAFE 7-PhotoRoom.png-PhotoRoom.png" alt="Mocha">
                        <div class="txt_container">
                            <h2>MOCHA</h2>
                            <P>Espresso extraído sobre calda de chocolate, leite vaporizado e cobertura de calda de chocolate.</P>
                            <h4>R$ 16</h4>
                        </div>
                    </div>
                    <div class="grid-item">
                        <img src="../../IMG/Cardapio/Cafe/CAFE 8-PhotoRoom.png-PhotoRoom.png" alt="Caffé Latte">
                        <div class="txt_container">
                            <h2>CAFFÈ LATTE</h2>
                            <P>Dose de espresso e
                                leite vaporizado.</P>
                            <h4>R$ 15</h4>
                        </div>
                    </div>
                    <div class="grid-item">
                        <img src="../../IMG/Cardapio/Cafe/CAFE 9-PhotoRoom.png-PhotoRoom.png" alt="Chocolate Quente">
                        <div class="txt_container">
                            <h2>CHOCOLATE QUENTE</h2>
                            <P>Chocolate cremoso tipo europeu com calda de chocolate.</P>
                            <h4>R$ 16</h4>
                        </div>
                    </div>
                    <div class="grid-item">
                        <img src="../../IMG/Cardapio/Cafe/CAFE 10-PhotoRoom.png-PhotoRoom.png" alt="Hot Salted Caramel">
                        <div class="txt_container">
                            <h2>HOT SALTED CARAMEL</h2>
                            <P>Espresso, leite vaporizado, calda de caramelo salgado, chantilly e crocante
                                de caramelo salgado.</P>
                            <h4>R$ 20</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="acompanhamento">
                <h2>Para acompanhar o café</h2><br>
                <div class="centralizar-grid">
                    <div class="grid-container2">
                        <div class="grid-item2">
                            <img src="../../IMG/Cardapio/Acompanhamento/COMIDA 1.PNG" alt="Cafe espresso">
                            <div class="align-txt2">
                                <div class="txt_container2">
                                    <h2>MISTO-QUENTE</h2>
                                    <h4>PÃO DE FORMA OU INTEGRAL</h4>
                                    <div class="produto"><p>Queijo mussarela</p><strong>R$ 18</strong></div>
                                    <div class="produto"><p>Queijo mussarela e presunto</p><strong>R$ 18</strong></div>
                                    <br><h4>PÃO SEM GLÚTEN</h4>
                                    <div class="produto"><p>Queijo mussarela</p><strong>R$ 22</strong></div>
                                    <div class="produto"><p>Queijo mussarela e presunto</p><strong>R$ 22</strong></div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item2">
                            <div class="align-txt2">
                                <div class="txt_container2">
                                    <h2>CROISSANT</h2>
                                    <div class="produto"><p>Queijo mussarela</p><strong>R$ 18</strong></div>
                                    <div class="produto"><p>Queijo mussarela e presunto</p><strong>R$ 18</strong></div>
                                    <br><h2>CROISSANT DOCE</h2>
                                    <div class="produto"><p>acompanha geleia de frutas vermelhas + manteiga</p><strong>R$ 16</strong></div>
                                    <div class="produto"><p>Queijo mussarela e presunto</p><strong>R$ 22</strong></div>
                                </div>
                            </div>
                            <img src="../../IMG/Cardapio/Acompanhamento/COMIDA 2.PNG" alt="Cafe espresso com leite">
                        </div>
                        <div class="grid-item2">
                            <img src="../../IMG/Cardapio/Acompanhamento/COMIDA 3.PNG" alt="Cappuccino brasileiro">
                            <div class="align-txt2">
                                <div class="txt_container2">
                                    <h2>CROISSANT GRINGO</h2>
                                    <div class="produto"><p>Queijo mussarela, presunto e ovo</p><strong>R$ 24</strong></div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item2">
                            <div class="align-txt2">
                                <div class="txt_container2">
                                    <h2>WAFFLE DE PÃO DE QUEIJO</h2>
                                    <div class="produto"><p>Queijo mussarela</p><strong>R$ 24</strong></div>
                                    <div class="produto"><p>Queijo mussarela e presunto</p><strong>R$ 24</strong></div>
                                    <br><h4>SEM LACTOSE</h4>
                                    <div class="produto"><p>Queijo vegano</p><strong>R$ 28</strong></div>
                                    <div class="produto"><p>Queijo vegano e presunto</p><strong>R$ 28</strong></div>
                                </div>
                            </div>
                            <img src="../../IMG/Cardapio/Acompanhamento/COMIDA 4-PhotoRoom.png-PhotoRoom.png" alt="Cafe Nutella">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <a href="#"><img src="../../IMG/facebook.png" alt="Logo do facebook">Café e Canela Facebook</a>
        <a href="#"><img src="../../IMG/intagram.png" alt="Logo do instagram" style="width: 30px; margin-left: 5px; margin-right: 15px;">Cafe_e_canela</a>
        <a href="tel:+5541996453214"><img src="../../IMG/whatsapp.png" alt="Logo do whatsapp">+41 99645-3214</a>
    </footer>
</body>
</html>